@use "../../common.scss" as *;

.admin_bottom {
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-around;
  padding: 18px 0;
  margin-top: auto;

  p {
    margin-top: 0;
    font-family: $font-admin;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
  }

  a {
    text-decoration: none;
    color: #94a3b8;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .material-icons {
    font-size: 22px;
    margin-bottom: 2px;
  }

  a.active {
    color: #8b5cf6;
  }
}
