.product-create {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  background: #F2F2F7;

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  form {
    padding: 0 24px 0 24px;
  }

  .subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;

    label {
      font-size: 14px;
      margin-bottom: 6px;
    }

    input,
    textarea {
      padding: 12px;
      border-radius: 12px;
      border: 1px solid #ddd;
      background: #ffffff;
    }

    textarea {
      min-height: 120px;
      resize: none;
    }
  }

  .row {
    display: grid;
    grid-template-columns: 152px 2fr;
    gap: 12px;

    .form-group {
      flex: 1;
    }
  }

  .submit-btn {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    border: none;
    background: linear-gradient(90deg, #4f8cff, #3b82f6);
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .error {
    color: #ff4d4f;
    font-size: 0.8rem;
    margin-top: 4px;
  }

  input.error-input,
  textarea.error-input {
    border: 1px solid #ff4d4f;
  }

  .image-upload-box {
    position: relative;
    border-radius: 16px;
    background: #ffffff;
    padding: 40px;
    text-align: center;
    border: 1px dashed #ccc;
    cursor: pointer;
  }

  .image-upload-box input {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  .image-preview {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    border-radius: 16px;
  }

  .page-header {
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
  }

  .back-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
  }

  .category-group {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
  }

  .category-group button {
    padding: 10px 18px;
    border-radius: 999px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .category-group button:hover {
    border-color: #3B82F6;
    color: #3B82F6;
  }

  .category-group button.active {
    background-color: #3B82F6;
    color: #fff;
    border-color: #3B82F6;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(63, 81, 181, 0.2);
  }

  .category-group button:active {
    transform: scale(0.97);
  }

}