@use '/src/components/common.scss' as *; 

.common-header {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 100;
  border-bottom: 1px solid #f0f0f0;

  .header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-family: $font-primary;
      font-size: $font-12;
      color: $primary-500;
      cursor: pointer;
    }

    .user-icon {
      width: 26px;
      aspect-ratio: 1 / 1;
      background-color: #f0f7ff;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #7c9aff;

      svg {
        width: 16px;
      }
    }
  }
}