.admin_header {
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  h1 {
    display: inline-block;
    padding: 12px;
    font-family: "Playwrite NZ Basic", cursive;
    font-size: 12px;
    color: #4aabf7;
    cursor: pointer;
  }
}
