@use "../../common.scss" as *;

.admin_header {
  position: relative;
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  min-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 12px;
    font-family: $font-primary;
    font-size: 12px;
    color: #4aabf7;
    cursor: pointer;
  }

  .logout-btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 999px;
    border: 1px solid #4AABF7;
    background: #E0F2F6;
    color: #86B1DF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .material-icons {
      font-size: 18px;
    }
  }
}
.logo-tt {
  font-family: $font-primary;
  font-size: $font-12;
  font-weight: 400;
  line-height: 1;
}
