@use "../../common.scss" as *;

.admin_header {
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  h1 {
    display: inline-block;
    padding: 12px;
    font-family: $font-primary;
    font-size: 12px;
    color: #4aabf7;
    cursor: pointer;
  }
}

.logo-tt {
  font-family: $font-primary;
  font-size: $font-12;
  font-weight: 400;
  line-height: 1;
}

button{
  border: none;
}