@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

// 공용 색상
$primary-500: #7c9aff;
$secondary-300: #a1d9ff;
$sub0blue-300: #9cb1e6;
$accent-500: #d6ccff;
$neutral-100: #eef4ff;

$white: #ffffff;
$black: #000000;
$light-gray: #f2f2f7;

// 공용 폰트 사이즈
:root {
  --font-base: 18px;
}

$font-18: var(--font-base);
$font-20: calc(#{$font-18} * 1.112);
$font-12: calc(#{$font-18} * 0.667);
$font-24: calc(#{$font-18} * 1.333);

// 공용 폰트 패밀리
$font-primary: 'Playwrite NZ Basic', sans-serif;
$font-secondary: 'Quicksand', sans-serif;
$font-admin: 'Noto Sans KR', sans-serif;

.main-content {
  width: 100%;
  margin: 0 auto;
  background-color: $neutral-100;
  padding: 16px;
  position: relative;
}

// 관리자 폰트

.admin-tt{
  font-family: $font-admin;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.admin-label {
  font-family: $font-admin;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.admin-sub {
  font-family: $font-admin;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.admin-desc{
  font-family: $font-admin;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.admin-list-desc {
  font-family: $font-admin;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.admin-product {
  font-family: $font-admin;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.admin-iamge {
  font-family: $font-admin;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
}