*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

#root > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
