@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic&display=swap');

.admin {
  width: min(100%, 375px);
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.admin_header {
  text-align: center;
  padding: 16px 0;
  background: #ffffff;

  h1 {
    font-family: "Playwrite NZ Basic", cursive;
    font-size: 18px;
    color: #4aabf7;
  }
}

.admin_content {
  flex: 1;
}
