@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic&display=swap');

.admin {
  width: min(100%, 375px);
  margin: 0 auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.admin_content {
  flex: 1;
}
